<div class="context"><br><h1>PLANEAMENTO ROTA</h1> </div>
<title>Planeamento Rota</title>
<div class="center-page">
    <label for="uname"><b>Selecione o Camião</b></label>

    <select [(ngModel)]="Camiao">
      <option>eTruck01</option>
      <option>eTruck02</option>
      <option>eTruck03</option>
    </select>

    <label for="uname"><b>Data</b></label>
    <input type="date" [(ngModel)]="Dia" placeholder="Introduzir Data" name="data" required>

    <div id="outer">
        <!--<div class="inner"><button type="button" (click)="getPlaneamento()">Solução Ótima</button></div>-->
        <div class="inner"><button type="button" (click)="getHeu1()">Heurística 1 </button></div>
        <div class="inner"><button type="button" (click)="getHeu2()">Heurística 2 </button></div>
        <div class="inner"><button type="button" (click)="getHeu3()">Heurística 3 </button></div>
        <div class="inner"><button type="button" id="plan"(click)="getMock()">Planeamento Mock </button></div>
        <div class="inner"><button type="button" (click)="getAG()">Algoritmo Genético</button></div>
        <div class="inner"><button type="button" (click)="getAG3()">AG Frota</button></div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>

  <table id="rota">
    <tr>
      <th>Rota</th>
    </tr>
    <tr><td>
      <span *ngFor="let a of rotaLista; index as i;">
        ➡️ {{a}}<span *ngIf="i==7"><br></span><span *ngIf="i==14"><br></span>
      </span></td>
    </tr>
  </table>

  <table mat-table [dataSource]="entregasData" >

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef><b>Data</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <ng-container matColumnDef="massa">
        <th mat-header-cell *matHeaderCellDef> <b>Massa</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.massa}} </td>
      </ng-container>

     <ng-container matColumnDef="armazemDesignacao">
        <th mat-header-cell *matHeaderCellDef> <b>Armazem</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.armazemDesignacao}}</td>
      </ng-container>

      <ng-container matColumnDef="tempoColocar">
        <th mat-header-cell *matHeaderCellDef> <b>Tempo Colocar</b> </th>
        <td mat-cell *matCellDef="let element"> {{element.tempoColocar}} </td>
      </ng-container>

      <ng-container matColumnDef="tempoRetirar">
        <th mat-header-cell *matHeaderCellDef> <b>Tempo Retirar</b></th>
        <td mat-cell *matCellDef="let element"> {{element.tempoRetirar}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" ngClass="top-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



