<div class="center-page">

    <button type="button" (click)="criarPercurso()">Criar Percurso</button>
    <button type="button" (click)="listarPercursos()">Listar Percursos</button>
    <button type="button" id="listar-viagens" (click)="listarViagens()">Listar Viagens</button>
    <button type="button" id="planeamento-rota" (click)="planeamentoRota()">Planeamento Rota</button>
    <button type="button" (click)="visualizacaoRede()">Visualização Rede Viária</button>
    <button type="button" (click)="moverCamiao()">Mover Camião</button>

</div>
